@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #fff8f0; /* Creme Algodão */
  color: #33303e; /* Grafite Suave */
  font-family: Inter, system-ui, sans-serif;
}
